.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px 60px;
    gap: 15px;
    padding: 15px;
    background-color: #EBEBFC;
    width: 46vw;
    height: auto;
}

.container img {
    height: auto;
    width: 3vw;
}

.container > div {
    display: flex;
    flex-direction: column;
    color: #4F4FB9;
    gap: 7px;
}

.container .span1 {
    font-size: 20px;
    font-weight: bold;
}

.container .span2 {
    font-size: 16px;
}