.container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 15px;
    margin: 30px;
    width: 46vw;
    height: auto;
}

.container span {
    font-size: 32px;
    color: #32325F;
}

.container div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container div div {
    background-color: #FFCF62;
    padding: 12px 26px;
    border-radius: 8px;
    border: 2px solid #691B0A;
    box-sizing: border-box;
}

.container div div span {
    font-size: 32px;
    font-weight: bold;
}

