.container {
    display: flex;
    flex-direction: column;
}

.container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 46vw;
}

.container div > span {
    font-size: 24px;
    font-weight: 700;
    color: #9B9B9B;
}

.container div > span > span {
    color: #E8891C
}

.container div > img {
    height: auto;
}