.container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 15px;
    margin: 30px;
    width: 46vw;
    height: auto;
}

.container span {
    font-size: 32px;
    color: #32325F;
}

.container div {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    margin-left: 8px;
}

.input {
    background-color: #EBEBFC;
    padding: 12px 26px;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    color: #32325F;
    width: 80px;
    text-align: center;
    box-sizing: border-box;
}

.input:disabled {
  background: #f2f2f2;
  color: #bbb;
}

.container div div span {
    font-size: 32px;
    font-weight: bold;
}

.button {
  background-color: #6A6AF5;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 32px;
  cursor: pointer;
  transition: background 0.2s;
}
.button:disabled {
  background: #bdbdf7;
  cursor: not-allowed;
}