* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 40px auto;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.14);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

.container hr {
    width: 46vw;
    border: none;
    border-top: 3px solid #C3C3C3;
    margin-top: 50px;
}